
<div class="carousel fade-carousel slide" data-ride="carousel" id="bs-carousel">
  <!-- Overlay -->
  {{!-- <div class="my-overlay"></div> --}}
  
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <div class="riya">
            <h1>Welcome to Get Out!</h1>        
            <h3>Get started on your event!</h3>
        </div>
        <div class="row home-buttons">
          <form action="/signup">
            <button class="btn btn-hero btn-lg" role="button">Sign Up</button>
        </form>

        <form action="/login">
          <button class="btn btn-hero btn-lg" role="button">Log In</button>
        </form>
        </div>

      </div>
    </div>
  </div> 
</div>